      :root {
      --primary: #5e22e6;
      --secondary: #0a1f44;
      --primary-invert: #fff;
      --secondary-invert: #fff;
      
      /* DEFAULT COLOR OF TEXTS */
      --text-primary: #0a1f44;
      
      /* FOR BUTTONS & INPUTS */
      --elements-roundness: 10rem;
      
      --space-between-blocks: 5.3rem;
      /* for mobiles */
      --space-between-blocks-small-screens: 3rem;
      }
      
      body {
      font-family: 'Poppins', sans-serif;
      color: var(--text-primary);
      }
      
      .space-between-blocks {
      padding-top: var(--space-between-blocks-small-screens);
      padding-bottom: var(--space-between-blocks-small-screens);
      }
      
      @media(min-width: 992px) {
      .space-between-blocks {
      padding-top: var(--space-between-blocks);
      padding-bottom: var(--space-between-blocks);
      }
      }
      
      /* ----------------- BUTTONS ------------------- */
      
      button {
      color: inherit;
      padding: 0;
      background: none;
      border: none;
      }
      
      button:focus {
      outline: none;
      box-shadow: none;
      }
      
      .btn {
      font-size: .87rem;
      padding: .8rem 1.6rem;
      border-radius: var(--elements-roundness);
      transition: .2s all;
      }
      
      @media(min-width: 992px) {
      .btn {
      padding: .8rem 2rem;
      }
      }
      
      .btn,
      .btn:hover,
      .btn:focus {
      border: none;
      box-shadow: none;
      outline: none;
      }
      
      .btn:hover,
      .btn:focus {
      transform: scale(1.05);
      }
      
      .btn-primary,
      .btn-primary:hover,
      .btn-primary:focus {
      background: var(--primary);
      color: var(--primary-invert);
      }
      
      .btn-secondary,
      .btn-secondary:hover,
      .btn-secondary:focus {
      background: var(--secondary);
      color: var(--secondary-invert);
      }
      
      .btn-sm {
      padding: .8rem;
      }

      /* Put your blocks here */
    
	
	
	.block-13 {
  background-image: linear-gradient(to bottom, var(--primary) 30%, transparent 0)
}

@media(min-width:992px) {
  .block-13 {
    background-image: linear-gradient(to bottom, var(--primary) 50%, transparent 0)
  }
}

.block-13__header {
  color: #fff;
  margin-bottom: 5.3rem
}

.block__title {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.4
}

@media(min-width:992px) {
  .block__title {
    font-size: 2.5rem
  }
}

.block__paragraph {
  font-size: 1.1rem;
  line-height: 1.5;
  opacity: .9
}

@media(min-width:768px) {
  .block-13__paragraph {
    width: 80%
  }
}

@media(min-width:992px) {
  .block-13__paragraph {
    width: 50%
  }
}

.plan-switch {
  font-size: 1.2rem;
  margin-top: 3.6rem
}

.plan-switch__type {
  font-size: .87rem;
  font-weight: 600;
  opacity: .9
}

.plan-switch__type--selected {
  color: var(--primary);
  opacity: 1
}

.plan-card {
  padding: 3.5rem 2rem;
  border: 2px solid var(--primary);
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 100%
}

.plan-card--recommended {
  padding-top: 5rem;
  position: relative;
  z-index: 1
}

@media(min-width:992px) {
  .plan-card--recommended {
    height: calc(100% + 50px);
    width: calc(100% + 25px);
    margin-left: -12.5px;
    margin-top: -25px;
    padding-bottom: calc(3.5rem + 25px)
  }
}

.plan-card__tag {
  font-size: .75rem;
  padding: .6rem .8rem;
  border-bottom-left-radius: .8rem;
  border-bottom-right-radius: .8rem;
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  width: 40%;
  margin: auto;
  background: rgba(0, 0, 0, .15);
  color: var(--primary-invert);
  overflow: hidden
}

.plan-card__tag::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--primary);
  z-index: -1
}

.plan-card__name {
  font-size: 1.5rem;
  font-weight: 600
}

.plan-card__price {
  font-size: 4.3rem;
  font-weight: 600
}

.plan-card__duration {
  font-size: .87rem;
  font-weight: 600;
  text-transform: uppercase
}

.plan-features {
  text-align: initial;
  margin: auto
}

@media(min-width:1200px) {
  .plan-features {
    width: 70%
  }
}

.plan-features__li {
  display: flex;
  align-items: flex-start;
  font-size: .87rem;
  margin-bottom: 1.3rem
}

.plan-features__li--disabled .plan-features__li-text {
  text-decoration: line-through;
  opacity: .7
}

.plan-features__li--disabled .plan-features__icon {
  filter: grayscale(10)
}

.plan-features__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: .7rem;
  width: 17px;
  height: 17px;
  background-color: rgba(51, 197, 141, .3);
  color: rgba(51, 197, 141, .7);
  border-radius: 10rem
}


.block-41 {
  --block-background: white;
  --block-text-color: var(--text-primary);
  background: var(--block-background);
  color: var(--block-text-color);
  font-size: .87rem
}

.block-41__logo {
  height: 36px
}

.block-41__brand-story {
  font-size: .87rem;
  line-height: 1.7;
  opacity: .8
}

@media(min-width:768px) {
  .block-41__brand-story {
    width: 90%
  }
}

.block-41__li-heading {
  font-weight: 600;
  margin-bottom: .6rem;
  opacity: .9
}

.block-41__li {
  opacity: .8;
  margin-bottom: .25rem
}

.block-41__extra-link {
  opacity: .8
}

.block-41__extra-link,
.block-41__li-link {
  color: var(--block-text-color)
}

.block-41__extra-link:focus,
.block-41__extra-link:hover,
.block-41__li-link:focus,
.block-41__li-link:hover {
  color: var(--primary);
  text-decoration: none
}

.block-41__divider {
  margin: 2.4rem 0
}

.block-41__extra-links {
  justify-content: center
}

@media(min-width:768px) {
  .block-41__extra-links {
    justify-content: flex-start
  }
}

.block-41__copyrights {
  opacity: .8;
  width: 90%;
  margin: auto;
  text-align: center
}

@media(min-width:768px) {
  .block-41__copyrights {
    width: auto;
    text-align: initial
  }
}

.block-9 {
  --block-background: white;
  --block-text-color: var(--text-primary);
  background: var(--block-background);
  color: var(--block-text-color)
}

.block__header {
  margin-bottom: 4rem
}

.block__pre-title {
  color: var(--primary);
  font-size: 1rem;
  font-weight: 600
}

.block__title {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.4
}

@media(min-width:992px) {
  .block__title {
    font-size: 2.5rem
  }
}

.block__paragraph {
  font-size: 1.1rem;
  line-height: 1.5;
  opacity: .9
}

.card-3 {
  padding: 0 .5rem
}

.card-3__img-container {
  text-align: center;
  margin-bottom: 2.5rem
}

.card-3__img {
  height: 150px;
  max-width: 80%
}

.card-3__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem
}

.card-3__paragraph {
  font-size: 1rem;
  opacity: .9
}

.block-28 {
  --elements-roundness: 5px;
  --block-background: white;
  --block-text-color: var(--text-primary);
  background-color: var(--block-background);
  color: var(--block-text-color);
  background-image: linear-gradient(to bottom, #f8f8f8 50%, transparent 0)
}

@media(min-width:992px) {
  .block-28 {
    background-image: linear-gradient(to right, #f8f8f8 50%, transparent 0)
  }
}

.block-28__content-side,
.block-28__form-side {
  padding-top: 5rem;
  padding-bottom: 5rem
}

.contact-form,
.contact-info {
  width: 90%;
  margin: auto
}

.contact-info {
  font-size: .9rem
}

.contact-form__title,
.contact-info__title {
  font-size: 2rem;
  font-weight: 600
}

.contact-info__paragraph {
  line-height: 1.7;
  opacity: .9
}

.contact-info__title-2 {
  font-weight: 600
}

.contact-info__title-2 .contact-info__item {
  opacity: .9
}

.contact-form__paragraph {
  font-size: 1rem;
  opacity: .9;
  line-height: 1.7;
  width: 90%
}

.contact-form__input {
  color: var(--text-primary);
  font-size: .87rem;
  padding: .87rem 1.4rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, .1);
  background: rgba(0, 0, 0, .01);
  width: 100%;
  margin-bottom: .87rem
}

textarea.contact-form__input {
  height: 130px;
  resize: none
}

.contact-form__input:focus {
  border: 1px solid var(--primary);
  outline: 0;
  box-shadow: none
}

.btn--loading {
  opacity: 1;
  cursor: progress;
  position: relative;
  overflow: hidden;
  z-index: 1
}

.btn--loading::after,
.btn--loading::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0
}

.btn--loading::before {
  background: var(--primary);
  width: 100%;
  height: 100%;
  z-index: 1
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(360deg)
  }
}

@keyframes spin {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}

.btn--loading::after {
  margin: auto;
  border: 2px solid transparent;
  border-radius: 50%;
  border-top: 2px solid var(--primary-invert);
  width: 1.5rem;
  height: 1.5rem;
  -webkit-animation: spin .5s linear infinite;
  animation: spin .5s linear infinite;
  z-index: 2
}

.h-100 {
  height: 100% !important
}